In [84]:
#installations
!pip install kshingle

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: kshingle in /Users/shirleyberry/Library/Python/3.8/lib/python/site-packages (0.10.0)
Requirement already satisfied: numpy<2,>=1.19.0 in /Users/shirleyberry/Library/Python/3.8/lib/python/site-packages (from kshingle) (1.24.3)
Requirement already satisfied: numba>=0.52.0 in /Users/shirleyberry/Library/Python/3.8/lib/python/site-packages (from kshingle) (0.57.0)
Requirement already satisfied: llvmlite<0.41,>=0.40.0dev0 in /Users/shirleyberry/Library/Python/3.8/lib/python/site-packages (from numba>=0.52.0->kshingle) (0.40.0)
Requirement already satisfied: importlib-metadata in /Users/shirleyberry/Library/Python/3.8/lib/python/site-packages (from numba>=0.52.0->kshingle) (6.0.1)
Requirement already satisfied: zipp>=0.5 in /Users/shirleyberry/Library/Python/3.8/lib/python/site-packages (from importlib-metadata->numba>=0.52.0->kshingle) (3.15.0)

In [85]:
!pip install prince

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: prince in /Users/shirleyberry/Library/Python/3.8/lib/python/site-packages (0.10.4)
Requirement already satisfied: altair<5.0.0,>=4.2.2 in /Users/shirleyberry/Library/Python/3.8/lib/python/site-packages (from prince) (4.2.2)
Requirement already satisfied: pandas<3.0.0,>=1.4.1 in /Users/shirleyberry/Library/Python/3.8/lib/python/site-packages (from prince) (2.0.0)
Requirement already satisfied: scikit-learn<2.0.0,>=1.0.2 in /Users/shirleyberry/Library/Python/3.8/lib/python/site-packages (from prince) (1.2.2)
Requirement already satisfied: entrypoints in /Users/shirleyberry/Library/Python/3.8/lib/python/site-packages (from altair<5.0.0,>=4.2.2->prince) (0.4)
Requirement already satisfied: jinja2 in /Users/shirleyberry/Library/Python/3.8/lib/python/site-packages (from altair<5.0.0,>=4.2.2->prince) (3.1.2)
Requirement already satisfied: jsonschema>=3.0 in /Users/shirleyberry/Library/Python/3.8/lib/python/site-packages (from altair<5.0.0,>=4.2.2->prince) (4.17.3)
Requirement already satisfied: numpy in /Users/shirleyberry/Library/Python/3.8/lib/python/site-packages (from altair<5.0.0,>=4.2.2->prince) (1.24.3)
Requirement already satisfied: toolz in /Users/shirleyberry/Library/Python/3.8/lib/python/site-packages (from altair<5.0.0,>=4.2.2->prince) (0.12.0)
Requirement already satisfied: python-dateutil>=2.8.2 in /Users/shirleyberry/Library/Python/3.8/lib/python/site-packages (from pandas<3.0.0,>=1.4.1->prince) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /Users/shirleyberry/Library/Python/3.8/lib/python/site-packages (from pandas<3.0.0,>=1.4.1->prince) (2023.3)
Requirement already satisfied: tzdata>=2022.1 in /Users/shirleyberry/Library/Python/3.8/lib/python/site-packages (from pandas<3.0.0,>=1.4.1->prince) (2023.3)
Requirement already satisfied: scipy>=1.3.2 in /Users/shirleyberry/Library/Python/3.8/lib/python/site-packages (from scikit-learn<2.0.0,>=1.0.2->prince) (1.10.1)
Requirement already satisfied: joblib>=1.1.1 in /Users/shirleyberry/Library/Python/3.8/lib/python/site-packages (from scikit-learn<2.0.0,>=1.0.2->prince) (1.2.0)
Requirement already satisfied: threadpoolctl>=2.0.0 in /Users/shirleyberry/Library/Python/3.8/lib/python/site-packages (from scikit-learn<2.0.0,>=1.0.2->prince) (3.1.0)
Requirement already satisfied: attrs>=17.4.0 in /Users/shirleyberry/Library/Python/3.8/lib/python/site-packages (from jsonschema>=3.0->altair<5.0.0,>=4.2.2->prince) (22.2.0)
Requirement already satisfied: importlib-resources>=1.4.0 in /Users/shirleyberry/Library/Python/3.8/lib/python/site-packages (from jsonschema>=3.0->altair<5.0.0,>=4.2.2->prince) (5.12.0)
Requirement already satisfied: pkgutil-resolve-name>=1.3.10 in /Users/shirleyberry/Library/Python/3.8/lib/python/site-packages (from jsonschema>=3.0->altair<5.0.0,>=4.2.2->prince) (1.3.10)
Requirement already satisfied: pyrsistent!=0.17.0,!=0.17.1,!=0.17.2,>=0.14.0 in /Users/shirleyberry/Library/Python/3.8/lib/python/site-packages (from jsonschema>=3.0->altair<5.0.0,>=4.2.2->prince) (0.19.3)
Requirement already satisfied: six>=1.5 in /Applications/Xcode.app/Contents/Developer/Library/Frameworks/Python3.framework/Versions/3.8/lib/python3.8/site-packages (from python-dateutil>=2.8.2->pandas<3.0.0,>=1.4.1->prince) (1.15.0)
Requirement already satisfied: MarkupSafe>=2.0 in /Users/shirleyberry/Library/Python/3.8/lib/python/site-packages (from jinja2->altair<5.0.0,>=4.2.2->prince) (2.1.2)
Requirement already satisfied: zipp>=3.1.0 in /Users/shirleyberry/Library/Python/3.8/lib/python/site-packages (from importlib-resources>=1.4.0->jsonschema>=3.0->altair<5.0.0,>=4.2.2->prince) (3.15.0)

In [86]:
!pip install rectangle-packer

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: rectangle-packer in /Users/shirleyberry/Library/Python/3.8/lib/python/site-packages (2.0.1)

In [87]:
!pip install grandalf

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: grandalf in /Users/shirleyberry/Library/Python/3.8/lib/python/site-packages (0.8)
Requirement already satisfied: pyparsing in /Users/shirleyberry/Library/Python/3.8/lib/python/site-packages (from grandalf) (3.0.9)

In [88]:
!pip install datamart-profiler

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: datamart-profiler in /Users/shirleyberry/Library/Python/3.8/lib/python/site-packages (0.11)
Requirement already satisfied: numpy in /Users/shirleyberry/Library/Python/3.8/lib/python/site-packages (from datamart-profiler) (1.24.3)
Requirement already satisfied: opentelemetry-api in /Users/shirleyberry/Library/Python/3.8/lib/python/site-packages (from datamart-profiler) (1.17.0)
Requirement already satisfied: pandas in /Users/shirleyberry/Library/Python/3.8/lib/python/site-packages (from datamart-profiler) (2.0.0)
Requirement already satisfied: prometheus-client in /Users/shirleyberry/Library/Python/3.8/lib/python/site-packages (from datamart-profiler) (0.16.0)
Requirement already satisfied: python-dateutil in /Users/shirleyberry/Library/Python/3.8/lib/python/site-packages (from datamart-profiler) (2.8.2)
Requirement already satisfied: scikit-learn in /Users/shirleyberry/Library/Python/3.8/lib/python/site-packages (from datamart-profiler) (1.2.2)
Requirement already satisfied: regex in /Users/shirleyberry/Library/Python/3.8/lib/python/site-packages (from datamart-profiler) (2023.3.23)
Requirement already satisfied: requests in /Users/shirleyberry/Library/Python/3.8/lib/python/site-packages (from datamart-profiler) (2.28.2)
Requirement already satisfied: datamart-geo<0.4,>=0.2.3 in /Users/shirleyberry/Library/Python/3.8/lib/python/site-packages (from datamart-profiler) (0.3.1)
Requirement already satisfied: deprecated>=1.2.6 in /Users/shirleyberry/Library/Python/3.8/lib/python/site-packages (from opentelemetry-api->datamart-profiler) (1.2.13)
Requirement already satisfied: importlib-metadata~=6.0.0 in /Users/shirleyberry/Library/Python/3.8/lib/python/site-packages (from opentelemetry-api->datamart-profiler) (6.0.1)
Requirement already satisfied: setuptools>=16.0 in /Applications/Xcode.app/Contents/Developer/Library/Frameworks/Python3.framework/Versions/3.8/lib/python3.8/site-packages (from opentelemetry-api->datamart-profiler) (49.2.1)
Requirement already satisfied: pytz>=2020.1 in /Users/shirleyberry/Library/Python/3.8/lib/python/site-packages (from pandas->datamart-profiler) (2023.3)
Requirement already satisfied: tzdata>=2022.1 in /Users/shirleyberry/Library/Python/3.8/lib/python/site-packages (from pandas->datamart-profiler) (2023.3)
Requirement already satisfied: six>=1.5 in /Applications/Xcode.app/Contents/Developer/Library/Frameworks/Python3.framework/Versions/3.8/lib/python3.8/site-packages (from python-dateutil->datamart-profiler) (1.15.0)
Requirement already satisfied: charset-normalizer<4,>=2 in /Users/shirleyberry/Library/Python/3.8/lib/python/site-packages (from requests->datamart-profiler) (3.1.0)
Requirement already satisfied: idna<4,>=2.5 in /Users/shirleyberry/Library/Python/3.8/lib/python/site-packages (from requests->datamart-profiler) (3.4)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in /Users/shirleyberry/Library/Python/3.8/lib/python/site-packages (from requests->datamart-profiler) (1.26.15)
Requirement already satisfied: certifi>=2017.4.17 in /Users/shirleyberry/Library/Python/3.8/lib/python/site-packages (from requests->datamart-profiler) (2022.12.7)
Requirement already satisfied: scipy>=1.3.2 in /Users/shirleyberry/Library/Python/3.8/lib/python/site-packages (from scikit-learn->datamart-profiler) (1.10.1)
Requirement already satisfied: joblib>=1.1.1 in /Users/shirleyberry/Library/Python/3.8/lib/python/site-packages (from scikit-learn->datamart-profiler) (1.2.0)
Requirement already satisfied: threadpoolctl>=2.0.0 in /Users/shirleyberry/Library/Python/3.8/lib/python/site-packages (from scikit-learn->datamart-profiler) (3.1.0)
Requirement already satisfied: wrapt<2,>=1.10 in /Users/shirleyberry/Library/Python/3.8/lib/python/site-packages (from deprecated>=1.2.6->opentelemetry-api->datamart-profiler) (1.15.0)
Requirement already satisfied: zipp>=0.5 in /Users/shirleyberry/Library/Python/3.8/lib/python/site-packages (from importlib-metadata~=6.0.0->opentelemetry-api->datamart-profiler) (3.15.0)

In [89]:
from datamart_profiler import temporal
import pandas as pd

from io import BytesIO
import requests
import json
from datetime import datetime
from dateutil.parser import parse

import pandas as pd
import numpy as np
from datetime import datetime
import kshingle as ks
import random
import math
import itertools
import prince
import warnings
from functools import wraps
from itertools import combinations, product
from scipy.spatial import Voronoi
from scipy.spatial.distance import cdist, pdist, squareform
from scipy.optimize import minimize, NonlinearConstraint
from rpack import pack
from grandalf.graphs import Vertex, Edge, Graph
from grandalf.layouts import SugiyamaLayout, DummyVertex
from netgraph_functions import get_geometric_layout, _initialise_geometric_node_layout, _flatten, _get_unique_nodes, get_fruchterman_reingold_layout, _edge_list_to_adjacency_matrix, _get_fr_repulsion, _get_fr_attraction, _fruchterman_reingold, _get_temperature_decay, _is_within_bbox, _fit_to_frame, _get_angle, _rotate
from custom_functions import jaccard_similarity, distance_from_similarity, get_edges, get_edge_lengths, normalize, get_node_positions, get_df_cols

In [90]:
from pyspark import SparkContext, SparkConf
cf = SparkConf()
cf.set("spark.submit.deployMode","client")
sc = SparkContext.getOrCreate(cf)
from pyspark.sql import SparkSession
spark = SparkSession \
	    .builder \
	    .appName("Python Spark SQL basic example") \
	    .config("spark.some.config.option", "some-value") \
	    .getOrCreate()

## Generate Metadata
The first step in this notebook is to conduct a keyword search against the Auctus REST API. It then constructs a CSV based on the results of that search.

We search for datasets in Auctus using the REST API. The official documentation for the Auctus API can be found here: https://docs.auctus.vida-nyu.org/rest/

In [91]:
def print_results(results):
    if not results:
        return
    for idx, result in enumerate(results):
        print("Result INDEX: " + str(idx))
        print("ID: " + result['id'])
        print("Name: " + result['metadata']['name'])
        print("Size: " + str(result['metadata']['size']))
        print('Score: ', result['score'])
        print("-------------------\n")

Changing the keyword below will change the search.

In [92]:
search_keywords = ['taxi']

We search for datasets in Auctus using the REST API. The official documentation can be found here: https://docs.auctus.vida-nyu.org/rest/

In [93]:
url = 'https://auctus.vida-nyu.org/api/v1/search'
datasets_per_page = 50

query = {
    'keywords': search_keywords
}
response = requests.post(
        url,
        files={
            'query': ('query.json', json.dumps(query), 'application/json'),
        }
    )

In [94]:
response.raise_for_status()
query_results = response.json()['results']
total_datasets = response.json()['total']
num_pages = math.ceil(total_datasets / datasets_per_page)
print(num_pages)

3

By default, the Auctus API only returns only the first 50 results; we make additional calls to retrieve the full results; since we already have the first page, we start on the second page.

In [95]:
all_results = query_results
for p in range(num_pages - 1):
    url = 'https://auctus.vida-nyu.org/api/v1/search?page=' + str(p + 2)
    print(url)

    query = {
        'keywords': search_keywords
    }
    response = requests.post(
            url,
            files={
                'query': ('query.json', json.dumps(query), 'application/json'),
            }
        )
    response.raise_for_status()
    query_results.extend(response.json()['results'])

https://auctus.vida-nyu.org/api/v1/search?page=2
https://auctus.vida-nyu.org/api/v1/search?page=3

In [96]:
print("Retrieved " + str(len(all_results)) + " results: ")
print("*****")
print_results(all_results)

Retrieved 109 results:
*****
Result INDEX: 0
ID: datamart.socrata.data-cityofchicago-org.6u8z-aubf
Name: Taxi Medallion Transfers
Size: 306001
Score:  23.886915
-------------------

Result INDEX: 1
ID: datamart.upload.dd6b73540cff4fe59e71892e4a75047b
Name: 2017 Yellow Taxi Data
Size: 13949149
Score:  22.30887
-------------------

Result INDEX: 2
ID: datamart.upload.d5cff1264b974b0bb3e6008c314fdf16
Name: Green Taxi Data 2015
Size: 1066116963
Score:  22.30887
-------------------

Result INDEX: 3
ID: datamart.upload.4eb2156e6a994f33ba71dd59f44c4c59
Name: Yellow Taxi Data 2015
Size: 20244
Score:  22.30887
-------------------

Result INDEX: 4
ID: datamart.url.54f251dd89075077b3b76edfb2fcbbdd
Name: 2017-yellow-cab-lga
Size: 319452961
Score:  22.113514
-------------------

Result INDEX: 5
ID: datamart.socrata.data-cityofnewyork-us.2np7-5jsg
Name: 2014 Green Taxi Trip Data
Size: 2523253343
Score:  20.926407
-------------------

Result INDEX: 6
ID: datamart.socrata.data-cityofnewyork-us.gi8d-wdg5
Name: 2015 Green Taxi Trip Data
Size: 3166006002
Score:  20.926407
-------------------

Result INDEX: 7
ID: datamart.socrata.data-edmonton-ca.9unw-vz23
Name: Taxi Usage - Edmonton Insight Community
Size: 285725
Score:  20.926407
-------------------

Result INDEX: 8
ID: datamart.socrata.data-cityofnewyork-us.ghpb-fpea
Name: 2013 Green Taxi Trip Data
Size: 191336940
Score:  20.926407
-------------------

Result INDEX: 9
ID: datamart.socrata.data-edmonton-ca.yepf-actv
Name: Accessible Taxi - Edmonton Insight Community
Size: 495874
Score:  20.926407
-------------------

Result INDEX: 10
ID: datamart.socrata.data-cityofnewyork-us.5gj9-2kzx
Name: 2017 Green Taxi Trip Data
Size: 1108721427
Score:  20.926407
-------------------

Result INDEX: 11
ID: datamart.socrata.data-cityofnewyork-us.pkmi-4kfn
Name: 2020 Green Taxi Trip Data
Size: 165714905
Score:  20.926407
-------------------

Result INDEX: 12
ID: datamart.socrata.data-cityofnewyork-us.hvrh-b6nb
Name: 2016 Green Taxi Trip Data
Size: 2229139706
Score:  20.926407
-------------------

Result INDEX: 13
ID: datamart.socrata.data-cityofnewyork-us.w7fs-fd9i
Name: 2018 Green Taxi Trip Data
Size: 831555081
Score:  20.926407
-------------------

Result INDEX: 14
ID: datamart.socrata.data-cityofnewyork-us.kxp8-n2sj
Name: 2020 Yellow Taxi Trip Data
Size: 2394264201
Score:  20.926407
-------------------

Result INDEX: 15
ID: datamart.socrata.data-cityofnewyork-us.m6nq-qud6
Name: 2021 Yellow Taxi Trip Data
Size: 3008826606
Score:  20.926407
-------------------

Result INDEX: 16
ID: datamart.socrata.data-cityofnewyork-us.biws-g3hs
Name: 2017 Yellow Taxi Trip Data
Size: 7623434311
Score:  20.926407
-------------------

Result INDEX: 17
ID: datamart.socrata.data-cityofnewyork-us.t29m-gskq
Name: 2018 Yellow Taxi Trip Data
Size: 9087524935
Score:  20.926407
-------------------

Result INDEX: 18
ID: datamart.socrata.data-cityofnewyork-us.q5mz-t52e
Name: 2019 Green Taxi Trip Data
Size: 583280181
Score:  20.926407
-------------------

Result INDEX: 19
ID: datamart.socrata.data-cityofnewyork-us.2upf-qytp
Name: 2019 Yellow Taxi Trip Data
Size: 8197837930
Score:  20.926407
-------------------

Result INDEX: 20
ID: datamart.socrata.data-cityofnewyork-us.djnb-wcxt
Name: 2021 Green Taxi Trip Data
Size: 102329648
Score:  20.926407
-------------------

Result INDEX: 21
ID: datamart.socrata.data-cityofnewyork-us.f9tw-8p66
Name: 2009 Yellow Taxi Trip Data
Size: 5029388359
Score:  20.926407
-------------------

Result INDEX: 22
ID: datamart.socrata.data-cityofnewyork-us.74wj-s5ij
Name: 2010 Yellow Taxi Trip Data
Size: 309706823
Score:  20.926407
-------------------

Result INDEX: 23
ID: datamart.socrata.data-cityofnewyork-us.gkne-dk5s
Name: 2014 Yellow Taxi Trip Data
Size: 2148982855
Score:  20.926407
-------------------

Result INDEX: 24
ID: datamart.socrata.data-cityofnewyork-us.sp7n-275u
Name: Medallion Taxi Initial Inspection Schedule
Size: 1136515
Score:  20.926407
-------------------

Result INDEX: 25
ID: datamart.socrata.data-edmonton-ca.r6wa-aza4
Name: Illegal Cabs - Edmonton Insight Community
Size: 272041
Score:  20.743156
-------------------

Result INDEX: 26
ID: datamart.socrata.data-cityofnewyork-us.y9b6-624z
Name: Taxicab Partition Manufacturers and Installers
Size: 1789
Score:  20.698807
-------------------

Result INDEX: 27
ID: datamart.socrata.data-cityofnewyork-us.ht4t-wzcm
Name: Taxi Improvement Fund (TIF) Medallion Payments
Size: 2822677
Score:  19.705284
-------------------

Result INDEX: 28
ID: datamart.socrata.data-cityofnewyork-us.avh4-h5hx
Name: BP Appointments - HHC Community Advisory Boards (CAB)
Size: 9032
Score:  18.455774
-------------------

Result INDEX: 29
ID: datamart.socrata.data-kingcounty-gov.vsdd-zfsi
Name: King County Metro - Water Taxi Routes 773/775
Size: 18407
Score:  17.645897
-------------------

Result INDEX: 30
ID: datamart.socrata.data-cityofnewyork-us.rdxc-q253
Name: Street Hail Livery (SHL) Taxi Initial Inspection Schedule
Size: 418870
Score:  17.645897
-------------------

Result INDEX: 31
ID: datamart.socrata.data-edmonton-ca.mmqu-q3wx
Name: Licensed Cabs ID And Safety - Edmonton Insight Community
Size: 334811
Score:  17.491375
-------------------

Result INDEX: 32
ID: datamart.socrata.data-cityofnewyork-us.2n4x-d97d
Name: NYC Taxi and Limousine Commission authorized Dispatch Service Providers (DSP)
Size: 615
Score:  15.976231
-------------------

Result INDEX: 33
ID: datamart.socrata.data-ny-gov.dp6s-fups
Name: Taxis Dispatched at Port Authority of NY NJ Airports: Beginning 2002
Size: 20216
Score:  15.254534
-------------------

Result INDEX: 34
ID: datamart.socrata.data-kcmo-org.x9c8-nw9m
Name: Commuting method
Size: 579
Score:  11.427993
-------------------

Result INDEX: 35
ID: datamart.socrata.data-cityofchicago-org.tfm3-3j95
Name: Public Passenger Vehicle Licenses
Size: 1850304
Score:  11.195785
-------------------

Result INDEX: 36
ID: datamart.socrata.opendata-maryland-gov.s7x9-aarw
Name: On Time Performance
Size: 299
Score:  10.825394
-------------------

Result INDEX: 37
ID: datamart.socrata.data-kcmo-org.ch54-2d7f
Name: Transportation Mode for Commuting to Work
Size: 238
Score:  10.76944
-------------------

Result INDEX: 38
ID: datamart.socrata.data-lacounty-gov.ip44-wcqt
Name: Commuter Mode Share and Travel Time (2005-2017)
Size: 1127
Score:  10.498122
-------------------

Result INDEX: 39
ID: datamart.socrata.opendata-maryland-gov.ntnu-s899
Name: Operating Cost Per Passenger Trip
Size: 466
Score:  10.393385
-------------------

Result INDEX: 40
ID: datamart.socrata.opendata-maryland-gov.tmp8-b5cn
Name: Operating Cost Per Revenue Vehicle Mile
Size: 469
Score:  10.393385
-------------------

Result INDEX: 41
ID: datamart.socrata.opendata-fcc-gov.6cjf-vuh4
Name: EAS Test Firm Accrediting Bodies (TFAB)
Size: 5573
Score:  10.004656
-------------------

Result INDEX: 42
ID: datamart.socrata.opendata-maryland-gov.t2jw-tiu2
Name: GOPI Resource MM - MTA Average Weekday Ridership
Size: 12476
Score:  9.970619
-------------------

Result INDEX: 43
ID: datamart.socrata.opendata-maryland-gov.57zf-pd4t
Name: MTA Fiscal Year Ridership
Size: 625
Score:  9.829502
-------------------

Result INDEX: 44
ID: datamart.upload.a7a6594a4b004cee9de8229f5e351c82
Name: 311 Service Requests from 2010 to Present
Size: 53192
Score:  9.823356
-------------------

Result INDEX: 45
ID: datamart.socrata.data-cityofnewyork-us.uzcy-9puk
Name: 311 Service Requests for 2008
Size: 955722435
Score:  9.297337
-------------------

Result INDEX: 46
ID: datamart.socrata.data-cityofnewyork-us.sxmw-f24h
Name: 311 Service Requests for 2005
Size: 900050041
Score:  9.297337
-------------------

Result INDEX: 47
ID: datamart.socrata.data-cityofnewyork-us.aiww-p3af
Name: 311 Service Requests for 2007
Size: 954722353
Score:  9.297337
-------------------

Result INDEX: 48
ID: datamart.socrata.data-cityofnewyork-us.hy4q-igkk
Name: 311 Service Requests for 2006
Size: 901254794
Score:  9.297337
-------------------

Result INDEX: 49
ID: datamart.socrata.data-cityofnewyork-us.3rfa-3xsf
Name: 311 Service Requests for 2009
Size: 911616834
Score:  9.297337
-------------------

Result INDEX: 50
ID: datamart.socrata.data-cityofnewyork-us.sqcr-6mww
Name: 311 Service Requests for 2004
Size: 558818339
Score:  9.297337
-------------------

Result INDEX: 51
ID: datamart.socrata.data-virginia-gov.vxb8-vgs7
Name: Virginia Means of Transportation to Work by Vehicles Available by Census Tract (ACS 5-Year)
Size: 5337805
Score:  9.281597
-------------------

Result INDEX: 52
ID: datamart.socrata.data-cityofnewyork-us.yini-w76t
Name: 2016 For Hire Vehicle Trip Data
Size: 4364137102
Score:  9.159902
-------------------

Result INDEX: 53
ID: datamart.socrata.data-cityofnewyork-us.avz8-mqzz
Name: 2017 For Hire Vehicle Trip Data
Size: 4296843335
Score:  9.159902
-------------------

Result INDEX: 54
ID: datamart.socrata.data-cityofnewyork-us.7dfh-3irt
Name: 2015 For Hire Vehicle Trip Data
Size: 2105890419
Score:  9.159902
-------------------

Result INDEX: 55
ID: datamart.socrata.data-cityofnewyork-us.m3yx-mvk4
Name: 2020 For Hire Vehicles Trip Data
Size: 1009750326
Score:  9.018615
-------------------

Result INDEX: 56
ID: datamart.socrata.data-cityofnewyork-us.a444-au9b
Name: 2021 For Hire Vehicles Trip Data
Size: 963700410
Score:  9.018615
-------------------

Result INDEX: 57
ID: datamart.socrata.data-cityofchicago-org.uk68-3rjc
Name: Public Passenger Vehicle Chauffeur Survey - 2021
Size: 6292037
Score:  8.447159
-------------------

Result INDEX: 58
ID: datamart.socrata.data-bayareametro-gov.ba3n-j79w
Name: Tract
Size: 2274175620
Score:  8.294289
-------------------

Result INDEX: 59
ID: datamart.socrata.data-cityofnewyork-us.dg7a-jiz2
Name: Lost Property Contact Information
Size: 1485077
Score:  8.10722
-------------------

Result INDEX: 60
ID: datamart.socrata.data-bayareametro-gov.j7ht-u3pq
Name: Vital Signs: Commute Patterns - Bay Area (2022) DRAFT
Size: 20010
Score:  7.961463
-------------------

Result INDEX: 61
ID: datamart.socrata.data-sfgov-org.tzh6-6j82
Name: Transit Only Lanes
Size: 50682
Score:  7.841607
-------------------

Result INDEX: 62
ID: datamart.socrata.data-cityofnewyork-us.ayeb-p4mv
Name: TLC Authorized Wheelchair Passenger Assistance Training Providers
Size: 4526
Score:  7.6792216
-------------------

Result INDEX: 63
ID: datamart.socrata.data-cityofnewyork-us.rebk-rr49
Name: 2021 High Volume FHV Trip Records (Jan-Jul)
Size: 6586153825
Score:  7.5341587
-------------------

Result INDEX: 64
ID: datamart.socrata.data-cityofnewyork-us.yrt9-58g8
Name: 2020 High Volume FHV Trip Records
Size: 9774538833
Score:  7.5341587
-------------------

Result INDEX: 65
ID: datamart.socrata.data-bayareametro-gov.c33n-96bi
Name: Vital Signs: Commute Patterns - Bay Area
Size: 145273
Score:  7.502756
-------------------

Result INDEX: 66
ID: datamart.socrata.data-virginia-gov.2ddi-u2pg
Name: Virginia Means of Transportation to Work by Travel Time to Work for Workplace Geography - County (ACS 5-Year)
Size: 1007747
Score:  7.4713316
-------------------

Result INDEX: 67
ID: datamart.socrata.data-cityofchicago-org.97wa-y6ff
Name: Public Chauffeurs
Size: 2508416
Score:  7.150719
-------------------

Result INDEX: 68
ID: datamart.socrata.opendata-fcc-gov.cxk6-dh2v
Name: EAS Designating Authorities for Telecommunications Certification Bodies (TCB)
Size: 3024
Score:  7.0155444
-------------------

Result INDEX: 69
ID: datamart.socrata.data-cityofnewyork-us.6bqn-qdwq
Name: Citywide Mobility Survey - Person Survey 2019
Size: 4776544
Score:  6.8514633
-------------------

Result INDEX: 70
ID: datamart.socrata.opendata-maryland-gov.8hpm-qsj3
Name: MDOT Performance Dashboard - Annual Data
Size: 1975
Score:  6.809648
-------------------

Result INDEX: 71
ID: datamart.socrata.data-cityofnewyork-us.w9dc-u4ik
Name: Citywide Mobility Survey - Trip Survey 2019
Size: 26855149
Score:  6.6361346
-------------------

Result INDEX: 72
ID: datamart.socrata.data-cityofnewyork-us.ph7v-u5f3
Name: Vision Zero Base Report
Size: 408623
Score:  6.4712443
-------------------

Result INDEX: 73
ID: datamart.socrata.data-edmonton-ca.8w7c-i8cm
Name: Vehicle for Hire Bylaws Violated  - by Month and Type
Size: 396525
Score:  6.221718
-------------------

Result INDEX: 74
ID: datamart.socrata.data-edmonton-ca.qnfr-227f
Name: Seniors Transportation - Edmonton Insight Community
Size: 307049
Score:  6.0911965
-------------------

Result INDEX: 75
ID: datamart.socrata.data-cityofnewyork-us.ke6f-vhnd
Name: Independent Budget Office: NYC COVID 19 Spending by Date - Citywide and by Agency
Size: 54177
Score:  5.886217
-------------------

Result INDEX: 76
ID: datamart.socrata.data-cityofchicago-org.n26f-ihde
Name: Transportation Network Providers - Trips (2023-)
Size: 3341887038
Score:  5.82578
-------------------

Result INDEX: 77
ID: datamart.socrata.data-cityofnewyork-us.u6nh-b56h
Name: 2019 For Hire Vehicles Trip Data
Size: 2587399872
Score:  5.6461263
-------------------

Result INDEX: 78
ID: datamart.socrata.data-edmonton-ca.3cyd-j69j
Name: Vehicle for Hire Inspection Results - by Month and Type
Size: 26201
Score:  5.6461263
-------------------

Result INDEX: 79
ID: datamart.socrata.data-novascotia-ca.evre-g8fr
Name: Active Driver Licences by Class and Age Group
Size: 14586
Score:  5.318127
-------------------

Result INDEX: 80
ID: datamart.socrata.data-sfgov-org.qmdj-wtj2
Name: Travel Decision Survey 2019
Size: 251646
Score:  5.269563
-------------------

Result INDEX: 81
ID: datamart.socrata.data-edmonton-ca.3cvu-pkdw
Name: Vehicle for Hire - Edmonton Insight Community
Size: 950961
Score:  5.269563
-------------------

Result INDEX: 82
ID: datamart.socrata.data-bayareametro-gov.cu29-x83x
Name: Vital Signs: Commute Mode Choice (by Place of Residence) – by tract
Size: 1249421
Score:  5.114068
-------------------

Result INDEX: 83
ID: datamart.socrata.data-bayareametro-gov.9mau-as85
Name: Vital Signs: Commute Mode Choice (by Place of Residence) – Bay Area
Size: 6701
Score:  5.114068
-------------------

Result INDEX: 84
ID: datamart.socrata.data-bayareametro-gov.h527-iddw
Name: Vital Signs: Commute Mode Choice (by Place of Employment) – by county
Size: 3608
Score:  5.114068
-------------------

Result INDEX: 85
ID: datamart.socrata.data-bayareametro-gov.i4be-6n9j
Name: Vital Signs: Commute Mode Choice (by Place of Residence) – by county
Size: 68057
Score:  5.114068
-------------------

Result INDEX: 86
ID: datamart.socrata.data-bayareametro-gov.srg7-f7nx
Name: Vital Signs: Commute Mode Choice (by Place of Employment) – by city
Size: 41218
Score:  5.114068
-------------------

Result INDEX: 87
ID: datamart.socrata.data-bayareametro-gov.cizf-84fb
Name: Vital Signs: Commute Mode Choice (by Place of Residence) – by city
Size: 40527
Score:  5.114068
-------------------

Result INDEX: 88
ID: datamart.socrata.data-bayareametro-gov.k6cx-uzep
Name: Vital Signs: Commute Mode Choice (by Place of Residence) – by metro
Size: 3986
Score:  5.114068
-------------------

Result INDEX: 89
ID: datamart.socrata.data-cityofnewyork-us.jb3k-j3gp
Name: Medallion Drivers - Active
Size: 12707077
Score:  4.9914336
-------------------

Result INDEX: 90
ID: datamart.socrata.data-sfgov-org.v5uc-gana
Name: Municipal Transportation Agency Board Resolutions
Size: 7023161
Score:  4.643713
-------------------

Result INDEX: 91
ID: datamart.socrata.data-edmonton-ca.f9kp-b6mh
Name: Vehicle For Hire Bylaw - Edmonton Insight Community
Size: 1396551
Score:  4.579481
-------------------

Result INDEX: 92
ID: datamart.socrata.data-edmonton-ca.bubm-z6xm
Name: BREATHE: Edmonton's Green Network Strategy - 2016 Survey Results
Size: 2556407
Score:  4.4442806
-------------------

Result INDEX: 93
ID: datamart.socrata.data-cityofnewyork-us.2v9c-2k7f
Name: FHV Base Aggregate Report
Size: 2611265
Score:  4.41953
-------------------

Result INDEX: 94
ID: datamart.socrata.data-bayareametro-gov.xcep-e2qd
Name: Vital Signs: Commute Mode Choice (by Place of Employment) – by county (2022)
Size: 62344
Score:  4.3800173
-------------------

Result INDEX: 95
ID: datamart.socrata.data-bayareametro-gov.uhk5-xynh
Name: Vital Signs: Commute Mode Choice (by Place of Residence) – by county (2022)
Size: 67252
Score:  4.3800173
-------------------

Result INDEX: 96
ID: datamart.socrata.data-bayareametro-gov.nmtw-k5b6
Name: Vital Signs: Commute Mode Choice (by Place of Residence) – Bay Area (2022)
Size: 6735
Score:  4.3800173
-------------------

Result INDEX: 97
ID: datamart.socrata.data-bayareametro-gov.jita-nnwk
Name: Vital Signs: Commute Mode Choice (by Place of Residence) – by city (2022)
Size: 502612
Score:  4.3800173
-------------------

Result INDEX: 98
ID: datamart.socrata.data-bayareametro-gov.hkpi-phpb
Name: Vital Signs: Commute Mode Choice (by Place of Residence) – by tract (2022)
Size: 13333051
Score:  4.3800173
-------------------

Result INDEX: 99
ID: datamart.socrata.data-bayareametro-gov.38ji-x4ga
Name: Vital Signs: Commute Mode Choice (by Place of Employment) – by city (2022)
Size: 471942
Score:  4.3800173
-------------------

Result INDEX: 100
ID: datamart.socrata.data-bayareametro-gov.bdki-qawy
Name: Vital Signs: Commute Mode Choice (by Place of Residence) – by metro (2022)
Size: 104032
Score:  4.3800173
-------------------

Result INDEX: 101
ID: datamart.zenodo.7705072.8cb89191-2806-4b3e-99f6-dc485859bc9a
Name: Encuesta Covid bloque V: Valoración Servicios administraciones - dataset_0_d31da653-1580-414b-a72e-36e4b7ee9c9f.csv
Size: 6560
Score:  3.5601635
-------------------

Result INDEX: 102
ID: datamart.socrata.data-edmonton-ca.mp5c-yhng
Name: River Access Strategy - Edmonton Insight Community
Size: 607296
Score:  3.0914335
-------------------

Result INDEX: 103
ID: datamart.socrata.data-sfgov-org.nufj-bfbw
Name: San Francisco City Survey Data
Size: 16165901
Score:  3.074397
-------------------

Result INDEX: 104
ID: datamart.socrata.data-bts-gov.crem-w557
Name: Monthly Transportation Statistics
Size: 492318
Score:  2.0307894
-------------------

Result INDEX: 105
ID: datamart.socrata.data-kcmo-org.9q2f-atb4
Name: 2010 Census/ACS Detailed Block Group Data
Size: 506671
Score:  1.5376282
-------------------

Result INDEX: 106
ID: datamart.socrata.data-kcmo-org.2mcy-ub6y
Name: 2013-2017 American Community Survey Detailed Census Tract Data
Size: 435842
Score:  1.4040995
-------------------

Result INDEX: 107
ID: datamart.socrata.data-edmonton-ca.y9sx-n6j7
Name: Parking - Edmonton Insight Community
Size: 1085353
Score:  1.2722235
-------------------

Result INDEX: 108
ID: datamart.zenodo.5779516.9d6567dd-fbc8-4aaa-b729-99fbcd6f35c8
Name: Viral Communication: Longitudinal Survey Data on the Social Dimensions of the COVID-19 Pandemic - Viral_Communication_Phase_I-III.sav
Size: 1277305
Score:  0.58563614
-------------------

Before adding to them to the metadata, we standardize all of the column names. We remove any non-ascii characters and convert them to snake case by replacing all whitespace with an underscore.

In [97]:
import string, unicodedata, re
def standardize_col_name(col_name):
    name = unicodedata.normalize('NFKD', col_name).encode('ascii','ignore').decode()
    name = re.sub('\s+', '_', name)
    return name.lower()

We import and use the datatypes defined by the Auctus profiler, which can be found in the following file: https://gitlab.com/ViDA-NYU/auctus/auctus/-/blob/master/lib_profiler/datamart_profiler/types.py 

Auctus itself conforms to the schema.org standards, whose documentation can be found here: https://schema.org/docs/schemas.html

In [98]:
from datamart_profiler import types

Here, we iterate over the metadata that Auctus returned from our search. These results will be used to create the data for the dataset summarizer visualization.

We also pass in the full metadata to display alongside the similarity measurements, and today's date as a way of timestamping these results.

In [99]:
separator = ", "
metadatas = []
start_date = ''
end_date = ''
for idx, result in enumerate(query_results):
    metadata = result['metadata']
    dataset_id = query_results[idx]['id']
    
    temp_type_cols = [standardize_col_name(col['name']) for col in metadata['columns'] if types.DATE_TIME in col['semantic_types']]
    cat_type_cols = [standardize_col_name(col['name']) for col in metadata['columns'] if types.CATEGORICAL in col['semantic_types']]
    spatial_type_cols = [standardize_col_name(col['name']) for col in metadata['columns'] if \
                         types.GEO_POINT in col['semantic_types'] or \
                         types.GEO_POLYGON in col['semantic_types'] or \
                         types.LATITUDE in col['semantic_types'] or \
                         types.LONGITUDE in col['semantic_types'] \
                        ]
    all_cols = [standardize_col_name(col['name']) for col in metadata['columns']]
    
    if 'temporal_coverage' in metadata.keys():
        start_date = ''
        end_date = ''
        for temporal_col in metadata['temporal_coverage']:
            c_start_date = datetime.fromtimestamp(temporal_col['ranges'][0]['range']['gte'])
            c_end_date = datetime.fromtimestamp(temporal_col['ranges'][-1]['range']['gte'])
            if start_date == '' or c_start_date < start_date:
                start_date = c_start_date
            if end_date == '' or c_end_date > end_date:
                end_date = c_end_date
        
    data = {
        'title': metadata['name'],
        'description': metadata['description'],
        'size': metadata['size'],
        'num_spatial': metadata['nb_spatial_columns'] if 'nb_spatial_columns' in metadata else 0,
        'num_categorical': metadata['nb_categorical_columns'] if 'nb_categorical_columns' in metadata else 0,
        'num_temporal': metadata['nb_temporal_columns'] if 'nb_temporal_columns' in metadata else 0,
        'num_columns': metadata['nb_columns'],
        'start_date': start_date,
        'end_date': end_date,
        'temporal_col_names': separator.join(temp_type_cols),
        'cat_col_names': separator.join(cat_type_cols),
        'spatial_col_names': separator.join(spatial_type_cols),
        'all_col_names': separator.join(all_cols),
        'full_metadata': metadata,
        'date_of_search': datetime.now()
    }
    metadatas.append(data)

In [100]:
p_metadata_dataframe = pd.DataFrame(data = metadatas)
display(p_metadata_dataframe)

,title,description,size,num_spatial,num_categorical,num_temporal,num_columns,start_date,end_date,temporal_col_names,cat_col_names,spatial_col_names,all_col_names,full_metadata,date_of_search
0,Taxi Medallion Transfers,Operation of a taxi cab in Chicago requires a ...,306001,0,0,1,5,2007-10-09 20:00:00,2017-07-20 20:00:00,closing_date,,,"closing_date, public_vehicle_number, sale_pric...","{'name': 'Taxi Medallion Transfers', 'source':...",2023-05-08 16:49:02.979227
1,2017 Yellow Taxi Data,This dataset includes trip records from all tr...,13949149,0,0,1,3,2017-07-03 19:00:16,2017-11-03 23:58:56,tpep_pickup_datetime,tpep_pickup_datetime,,"tpep_pickup_datetime, pulocationid, n._trips",{'attribute_keywords': ['tpep_pickup_datetime'...,2023-05-08 16:49:02.979248
2,Green Taxi Data 2015,This dataset contains green taxi trip records ...,1066116963,4,1,2,23,2015-01-02 16:26:24,2015-03-23 04:42:40,"pickup_datetime, dropoff_datetime",store_and_fwd_flag,"pickup_longitude, pickup_latitude, dropoff_lon...","vendorid, pickup_datetime, dropoff_datetime, s...","{'attribute_keywords': ['VendorID', 'Vendor', ...",2023-05-08 16:49:02.979316
3,Yellow Taxi Data 2015,This dataset contains the daily number of yell...,20244,0,0,1,4,2015-01-06 19:00:00,2015-09-04 20:00:00,pickup_datetime,,,"pickup_datetime, n._trips, price, distance","{'attribute_keywords': ['pickup_datetime', 'pi...",2023-05-08 16:49:02.979332
4,2017-yellow-cab-lga,"new york, taxi, yellow cab, LaGuardia, LGA, ci...",319452961,0,1,2,18,2017-01-08 08:20:00,2017-09-03 20:10:40,"tpep_pickup_datetime, tpep_dropoff_datetime",store_and_fwd_flag,,"tpep_pickup_datetime, unnamed:_0, dolocationid...",{'attribute_keywords': ['tpep_pickup_datetime'...,2023-05-08 16:49:02.979380
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
104,Monthly Transportation Statistics,Monthly Transportation Statistics is a compila...,492318,0,0,1,136,1948-03-31 19:00:00,1999-04-30 20:00:00,date,,,"index, date, air_safety_-_general_aviation_fat...","{'name': 'Monthly Transportation Statistics', ...",2023-05-08 16:49:02.989037
105,2010 Census/ACS Detailed Block Group Data,detailed characteristics of people and housing...,506671,1,0,0,190,1948-03-31 19:00:00,1999-04-30 20:00:00,,county,,"county, census_tract, block_group, block_group...",{'name': '2010 Census/ACS Detailed Block Group...,2023-05-08 16:49:02.989568
106,2013-2017 American Community Survey Detailed C...,DETAILED CHARACTERISTICS OF PEOPLE AND HOUSING...,435842,0,1,0,211,1948-03-31 19:00:00,1999-04-30 20:00:00,,inside_kcmo_or_not,,"island, census_tract, inside_kcmo_or_not, east...",{'name': '2013-2017 American Community Survey ...,2023-05-08 16:49:02.990147
107,Parking - Edmonton Insight Community,This was one single topic among many as part o...,1085353,0,28,2,74,2016-02-09 08:34:56,2016-02-11 11:34:08,"response_date, completion_date",q4a_parking_it_is_easy_to_find_a_place_to_park...,,"response_date, completion_date, q1a_parking_un...","{'attribute_keywords': ['Response Date', 'Resp...",2023-05-08 16:49:02.990565
108,Viral Communication: Longitudinal Survey Data ...,This dataset represents the anonymised data co...,1277305,0,0,2,562,2021-03-02 03:59:44,2021-08-08 14:10:08,"m_phase2_comp_date, m_phase3_comp_date",,,"m_id, com_include_phase1_main, com_weight_phas...",{'name': 'Viral Communication: Longitudinal Su...,2023-05-08 16:49:02.991614

We save the metadata in a CSV file marked with today's date. Because the search results from Auctus may change over time, this provides a way to version this result. If necessary, this CSV can be used rather than re-generating the metadata from scratch.

In [101]:
todays_date_snakecase = datetime.today().strftime('%Y_%m_%d')
p_metadata_dataframe.to_csv("taxi_metadata_" + todays_date_snakecase + ".csv", index=False)

We also dump the list of dataset IDs to a file along with their last updated dates from Auctus. If the search results do change (for example, if new datasets are added), this list can also be used to re-generate the metadata results that we've provided a hard copy of.

We again add the date to the filename as a means of versioning and timestamping the results.

In [102]:
filename = 'dataset_ids_' + todays_date_snakecase + '.csv'

with open(filename, mode='w', newline='') as file:
    writer = csv.writer(file)
    for dataset_metadata in query_results:
        writer.writerow([dataset_metadata['id'], dataset_metadata['metadata']['materialize']['date']])

file.close()

## Compute Similarity

We can now calculate the similarity between each pair of datasets based on various attributes. For each of these attributes, we create a set of k-shingles for each dataset and compute the jaccard similarity between each pair of k-shingle sets.

The function jaccard_similarity accepts three arguments, and can be used to calculate the similarity between pairs of datasets using any column containing strings from the metadata dataframe. The first argument is the metadata dataframe. The second argument is a list of the dataset attributes (or metadata dataframe columns) that we will compare each dataset by. These attributes will be concatenated into a single string for each dataset before similarity is calculated. The third argument is k value we will use to create the k-shingle sets for each dataset.  

We will calculate the similarity between each pair of datasets based on their titles, descriptions, and a string containing both their title and description. We choose to break the titles into sets of 5-shingles (since they are relatively short) and the descriptions and title/description strings into sets of 9-shingles (since these are relatively long).

In [103]:
df = p_metadata_dataframe
#get similarity matrices
matrix_title_sim = jaccard_similarity(df, ["title"], 5) 
matrix_desc_sim = jaccard_similarity(df, ["description"], 9) 
matrix_both_sim = jaccard_similarity(df, ["title","description"], 9)

Our final visualization will contain clusters of dots, each representing one dataset, with the distance between each pair of dots intuitively representing how similar they are. We want dots to be closer together if they are more similar and father apart if they are less similar, and therefore must convert this jaccard similarity to jaccard distance.

In [104]:
#get distance matrices
matrix_title_dist = distance_from_similarity(matrix_title_sim)
matrix_desc_dist = distance_from_similarity(matrix_desc_sim)
matrix_both_dist = distance_from_similarity(matrix_both_sim)

Next we normalize these jaccard distances between the values 0.0001 and 1.0001. This will ensure that the matrices will not break the constraints of the least squares optimization we will perform using these values later (specifically, it will ensure that the matrices do not have a determinant of zero).

In [105]:
#normalize distances between 0.0001 and 1.0001 rather than 0 and 1 to avoid breaking least squares optimization constraints
matrix_title_dist_norm = normalize(matrix_title_dist, {'actual': {'lower': 0, 'upper': 1}, 'desired': {'lower': 0.0001, 'upper': 1.0001}})
matrix_desc_dist_norm = normalize(matrix_desc_dist, {'actual': {'lower': 0, 'upper': 1}, 'desired': {'lower': 0.0001, 'upper': 1.0001}})
matrix_both_dist_norm = normalize(matrix_both_dist, {'actual': {'lower': 0, 'upper': 1}, 'desired': {'lower': 0.0001, 'upper': 1.0001}})

We can now use the netgraph get_node_positions function to calculate the x and y coordinates of each dataset in the cluster based on the edge lengths (jaccard distances) between them. This function treats the cluster like a force directed graph and uses a sequential least squares programming optimizer to converge on a final layout. The nodes in this graph are datasets, and the length of an edge between two dataset nodes is equal to the jaccard distance between the datasets. These edges will not be visible in the final visualization.

In [106]:
#get edges [tuples in the format (source node ID, target node ID)] and edge lengths [dictionary mapping edges to their distances] for each measure
edges = get_edges(df)

title_edge_lengths = get_edge_lengths(edges, matrix_title_dist_norm)
desc_edge_lengths = get_edge_lengths(edges, matrix_desc_dist_norm)
both_edge_lengths = get_edge_lengths(edges, matrix_both_dist_norm)

In [107]:
#get x and y coordinates for each measure
title_node_positions = get_node_positions(edges, title_edge_lengths)
desc_node_positions = get_node_positions(edges, desc_edge_lengths)
both_node_positions = get_node_positions(edges, both_edge_lengths)

In [108]:
print(title_node_positions[0:10]) #x column and y column

[[0.05       0.47322794]
 [0.38880679 0.53914694]
 [0.2416694  0.63927659]
 [0.72183357 0.57148493]
 [0.61157581 0.11239948]
 [0.52456865 0.34509776]
 [0.68706477 0.57131325]
 [0.47695672 0.38599117]
 [0.68281846 0.57241777]
 [0.58321762 0.70108761]]

Next we will use multiple correspondence analysis (MCA) to compute the similarity between the column names within each pair of datasets. Since MCA requires an input that is sorted into multiple categories, we will sort these column names  by whether they represent a "categorical," "spatial," "temporal," or "other" type of variable.

In [109]:
#separate column names by type
df_cols = get_df_cols(df)
display(df_cols)

,cat_col_names,spatial_col_names,temporal_col_names,misc_col_names
0,,,closing_date,public_vehicle_number sale_price buyer's_compa...
1,tpep_pickup_datetime,,tpep_pickup_datetime,pulocationid n._trips
2,store_and_fwd_flag,pickup_longitude pickup_latitude dropoff_longi...,pickup_datetime dropoff_datetime,extra_mta_tax tolls_amount passenger_count tip...
3,,,pickup_datetime,price distance n._trips
4,store_and_fwd_flag,,tpep_pickup_datetime tpep_dropoff_datetime,dolocationid trip_distance tolls_amount passen...
...,...,...,...,...
104,,,date,state_and_local_government_construction_spendi...
105,county,,,residents_16_or_older_employed_in_manufacturin...
106,inside_kcmo_or_not,,,residents_16_or_older_employed_in_manufacturin...
107,q4a_parking_it_is_easy_to_find_a_place_to_park...,,response_date completion_date,q1a_parking_unique_or_locally_produced_goods q...
108,,,m_phase2_comp_date m_phase3_comp_date,phase2_sd_pol_regclimate phase1_ph_health_covi...

We can now perform MCA on the dataset column names.

In [110]:
#perform MCA
X = df_cols
mca = prince.MCA()
mca = mca.fit(X)
mca = mca.transform(X)
display(mca)

            0         1
0   -0.104172 -0.145088
1   -0.176686 -0.291219
2   -0.156679 -0.351064
3   -0.109152 -0.142386
4   -0.105390 -0.366633
..        ...       ...
104 -0.106367 -0.178701
105 -0.057992 -0.266212
106 -0.059772 -0.262076
107  0.155394 -0.701102
108 -0.103578 -0.144633

[109 rows x 2 columns]

Earlier we used the netgraph get_node_positions function to find the x and y position of each dataset within each similarity cluster. This function normalizes these positions between 0.05 and 0.95 so that the dots are framed nicely within the 1 by 1 background of the cluster visualization. We therefore normalize the x and y position of each dataset within the column name similarity cluster between 0.05 and 0.95 to match the netgraph padding.

In [111]:
#normalize values between 0.05 and 0.95
mca_arr = mca.to_numpy()
normalized_mca = np.array(normalize(mca_arr, {'actual': {'lower': mca.min(), 'upper': mca.max()}, 'desired': {'lower': 0.05, 'upper': 0.95}}))

Finally we add the positions of each dataset within each similarity cluster to the dataframe, rename the dataframe index to "id," and save it as a CSV.

In [112]:
#append coordinates to dataframe
df["title_x"] = title_node_positions[:,0]
df["title_y"] = title_node_positions[:,1]

df["description_x"] = desc_node_positions[:,0]
df["description_y"] = desc_node_positions[:,1]

df["title_and_description_x"] = both_node_positions[:,0]
df["title_and_description_y"] = both_node_positions[:,1]

df["column_name_x"] = normalized_mca[:,0]
df["column_name_y"] = normalized_mca[:,1]

df.index.name = 'id'

In [113]:
display(df)

,title,description,size,num_spatial,num_categorical,num_temporal,num_columns,start_date,end_date,temporal_col_names,...,full_metadata,date_of_search,title_x,title_y,description_x,description_y,title_and_description_x,title_and_description_y,column_name_x,column_name_y
id,,,,,,,,,,,,,,,,,,,,,
0,Taxi Medallion Transfers,Operation of a taxi cab in Chicago requires a ...,306001,0,0,1,5,2007-10-09 20:00:00,2017-07-20 20:00:00,closing_date,...,"{'name': 'Taxi Medallion Transfers', 'source':...",2023-05-08 16:49:02.979227,0.050000,0.473228,0.305211,0.507459,0.092093,0.301049,0.088560,0.180769
1,2017 Yellow Taxi Data,This dataset includes trip records from all tr...,13949149,0,0,1,3,2017-07-03 19:00:16,2017-11-03 23:58:56,tpep_pickup_datetime,...,{'attribute_keywords': ['tpep_pickup_datetime'...,2023-05-08 16:49:02.979248,0.388807,0.539147,0.535902,0.663242,0.463590,0.494918,0.082576,0.151407
2,Green Taxi Data 2015,This dataset contains green taxi trip records ...,1066116963,4,1,2,23,2015-01-02 16:26:24,2015-03-23 04:42:40,"pickup_datetime, dropoff_datetime",...,"{'attribute_keywords': ['VendorID', 'Vendor', ...",2023-05-08 16:49:02.979316,0.241669,0.639277,0.583824,0.472413,0.511046,0.474152,0.084227,0.139382
3,Yellow Taxi Data 2015,This dataset contains the daily number of yell...,20244,0,0,1,4,2015-01-06 19:00:00,2015-09-04 20:00:00,pickup_datetime,...,"{'attribute_keywords': ['pickup_datetime', 'pi...",2023-05-08 16:49:02.979332,0.721834,0.571485,0.437265,0.365516,0.587348,0.562767,0.088149,0.181312
4,2017-yellow-cab-lga,"new york, taxi, yellow cab, LaGuardia, LGA, ci...",319452961,0,1,2,18,2017-01-08 08:20:00,2017-09-03 20:10:40,"tpep_pickup_datetime, tpep_dropoff_datetime",...,{'attribute_keywords': ['tpep_pickup_datetime'...,2023-05-08 16:49:02.979380,0.611576,0.112399,0.585118,0.406830,0.512716,0.477466,0.088459,0.136254
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
104,Monthly Transportation Statistics,Monthly Transportation Statistics is a compila...,492318,0,0,1,136,1948-03-31 19:00:00,1999-04-30 20:00:00,date,...,"{'name': 'Monthly Transportation Statistics', ...",2023-05-08 16:49:02.989037,0.374393,0.621251,0.402588,0.562513,0.502565,0.473179,0.088378,0.174015
105,2010 Census/ACS Detailed Block Group Data,detailed characteristics of people and housing...,506671,1,0,0,190,1948-03-31 19:00:00,1999-04-30 20:00:00,,...,{'name': '2010 Census/ACS Detailed Block Group...,2023-05-08 16:49:02.989568,0.324590,0.523300,0.630177,0.173329,0.479455,0.451027,0.092370,0.156432
106,2013-2017 American Community Survey Detailed C...,DETAILED CHARACTERISTICS OF PEOPLE AND HOUSING...,435842,0,1,0,211,1948-03-31 19:00:00,1999-04-30 20:00:00,,...,{'name': '2013-2017 American Community Survey ...,2023-05-08 16:49:02.990147,0.379651,0.112668,0.147678,0.817276,0.641690,0.522449,0.092223,0.157263
107,Parking - Edmonton Insight Community,This was one single topic among many as part o...,1085353,0,28,2,74,2016-02-09 08:34:56,2016-02-11 11:34:08,"response_date, completion_date",...,"{'attribute_keywords': ['Response Date', 'Resp...",2023-05-08 16:49:02.990565,0.321250,0.517319,0.777100,0.421344,0.413213,0.757911,0.109979,0.069050
108,Viral Communication: Longitudinal Survey Data ...,This dataset represents the anonymised data co...,1277305,0,0,2,562,2021-03-02 03:59:44,2021-08-08 14:10:08,"m_phase2_comp_date, m_phase3_comp_date",...,{'name': 'Viral Communication: Longitudinal Su...,2023-05-08 16:49:02.991614,0.368276,0.571286,0.611040,0.461110,0.617928,0.923535,0.088609,0.180860

In [115]:
df.to_csv("/content/taxi_full_metadata_and_scatterplot_coordinates.csv")